@mixin custom-scrollbar($thumb-color, $track-color, $thumb-hover) {
  &::-webkit-scrollbar {
    width: 2px;  // Extremely thin scrollbar
    height: 2px; // Extremely thin horizontal scrollbar
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 2px;
    border: 2px solid lighten($track-color, 20%);
  }

  &::-webkit-scrollbar-track {
    background-color: $track-color;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $thumb-hover;
  }

  scrollbar-color: $thumb-color $track-color;
  scrollbar-width: thin;
}
