@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

:root {
  /* Global typography variables */
  --m3-ui-family: 'Overpass Mono', -apple-system, BlinkMacSystemFont, sans-serif;
  --font-size-default: 16px;
  --font-weight-default: 400;
  --line-height-default: 24px;
  --letter-spacing-default: normal;
}

.user-management {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: "Overpass Mono";
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }
  
    .error {
      color: #d9534f;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
    }
  
    .users-table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
      th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
  
      th {
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
      }
  
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #f2f2f2;
          }
  
          &:hover {
            background-color: #e6f7ff;
          }
        }
      }
    }
  
    .profile-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ccc;
    }
  
    p {
      text-align: center;
      font-size: 16px;
      color: #666;
    }
  }
  